/*fonte*/ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*CABEÇALHO////////////////////*/


header{
         font-family: 'Open Sans', sans-serif;
         background-color: #ffffff;
         padding: 20px 0 ;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
}

.Menu{font-family: 'Open Sans', sans-serif;
     
 }

a{ text-decoration: none;
   color: #FF0000;
   font-weight: bold;
        
}
a:hover{background-color: rgb(248, 81, 59);
        font-size: 16px;
        cursor: pointer;
}

/*CORPO DO SITE ////////////////////*/

main {  border-top: 0.4px solid #000000;
        margin-bottom: 48px;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 11px;
        padding: 30px;
        text-align: center;
               
     }
.texto1,.texto2{
                padding: 30px;
                font-size: 16px;
               }
h1,h3{font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}

.imgback {
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #000000; 
    border-radius: 20px;
    margin:20px 0 40px;
}
.botão{  text-decoration: none;
         padding: 10px 8px;
         width: 150px;
         font-family: 'Open Sans', sans-serif;
         font-size: 20px;
         text-align: center;
         color: #ffffff;
         background: #111124;
         border: 1px solid #c74522;
         border-radius: 5px;
         cursor:pointer;
         position: relative;
         top: 50%;
         left: 44%;

}
.botão:hover{
    background:#c74522 ;
    
}


/*RODAPÉ////////////////////*/

footer{
    border-top: 0.4px solid #000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color:#c74522;
    padding: 40px 0;
}
.copyright {
    color: #111124;
    font-size: 13px;
    margin: 20px 0 0;}
